/* Globals */
a,
a:focus,
a:hover {
  color: #270F34;
}

html,
body {
  height: 100%;
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
}

body {
  color: #270F34;
  text-align: center;
}

.hide {
  display: none;
}

.landing-heading {
  color: #270F34;
  font-family: 'Source Code Pro', monospace;
  font-weight: 400;
}

/* Buttons */
.btn {
  font-family: 'Source Code Pro', monospace;
  padding: 0.5625rem 2.5rem;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.75rem;
  border-radius: 0 !important;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-lg {
  font-size: 0.875rem;
  padding: 0.6875rem 3.4375rem;
  line-height: 1.75rem;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: none;
}

.btn-primary {
  background-color: #270F34;
  border: 1px solid #270F34;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  color: #fff;
  border: 1px solid #2C96FF;
  background-color: #2C96FF;
}

/* Avatar */
.avatar {
  width: 100px;
  height: 100px;
}

.avatar-section {
  margin-bottom: 25px;
}

#heading-name {
  color: #270F34;
}

/* Scaffolding */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

.site-wrapper-inner {
  display: table-cell;
  vertical-align: middle;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  padding-top: 3rem;
}

.panel-authed {
  padding: 0 0 0 0;
}

/* Home button */
.btn-home-hello {
  position: absolute;
  font-family: 'Source Code Pro', monospace;
  font-size: 11px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.85);
  top: 15px;
  left: 15px;
  padding: 3px 20px;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 6px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}

#expenses{
  margin: 1.5rem;
}

#crypto-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.expense-table {
  margin-top: 1rem;
}

.expense-table h4 {
  margin-bottom: .5rem;
}

.expense-table #expense-item,
.expense-table #expense-category,
.expense-table #expense-amount {
  margin-right: .5rem;
} 

.expense-table td[rowspan="2"] {
  padding-left: 1rem;
}

.panel-welcome > .lead {
  float: right;
}

#expense-item {
  margin-right: .5rem;
}

#save-expense {
  margin-right: 1rem;
  margin-bottom: 1rem;
}

#deleteExpenses {
  display: flex;
  justify-content: center;
}