/* Globals */
a,
a:focus,
a:hover {
  color: #270F34;
}

html,
body {
  height: 100%;
  background-color: #C0C3CA;
}

body {
  color: #270F34;
  text-align: center;
}

.hide {
  display: none;
}

.landing-heading {
  color: #270F34;
  font-family: 'Source Code Pro', monospace;
  font-weight: 400;
}

/* Buttons */
.btn {
  font-family: 'Source Code Pro', monospace;
  padding: 0.5625rem 2.5rem;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.75rem;
  border-radius: 0 !important;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-lg {
  font-size: 0.875rem;
  padding: 0.6875rem 3.4375rem;
  line-height: 1.75rem;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: none;
}

.btn-primary {
  color: #fff;
  text-decoration: none;
  background-color: #270F34;
  border: 1px solid #270F34;
}

.landing-logo {
  width: 125px;
  margin-bottom: 20px;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  color: #fff;
  border: 1px solid #2C96FF;
  text-decoration: none;
  background-color: #2C96FF;
}

.a1c-input {
  width: 23em;
} 

/* Avatar */
.avatar {
  width: 100px;
  height: 100px;
}

.avatar-section {
  margin-bottom: 25px;
}

#heading-name {
  color: #270F34;
}

/* Scaffolding */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

.date-picker {
  padding: 5px;
}

.dash-add-prompt {
  font-weight: bold;
  font-size: 16px;
}

.site-wrapper-inner {
  display: table-cell;
  vertical-align: middle;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  padding-top: 3rem;
}

.panel-authed {
  padding: 0 0 0 0;
}

.btn {
  cursor: pointer;
}

.input-units-group {
  margin-top: 15px;
  margin-left: 6px;
}

.dash-logo {
  width: 50px;
  margin-bottom: 5px;
}

.dash-header { 
  margin-bottom: 20px;
}

.dash-chart {
  margin-bottom: 20px;
}

.dash-header-text {
  font-size: 24px;
  margin-left: 5px;
  font-weight: 600;
}

.landing-slogan-text {
  font-family: 'Source Code Pro', monospace;
}

/* Home button */
.btn-home-hello {
  position: absolute;
  font-family: 'Source Code Pro', monospace;
  font-size: 11px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.85);
  top: 15px;
  left: 15px;
  padding: 3px 20px;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 6px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}

#expenses-header {
  font-size: 1rem;
}

#expenses{
  margin: 1.5rem;
  display: flex;
  justify-content: center;
}

#crypto-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.expense-table {
  margin-top: 1rem;
}

.expense-table h4 {
  margin-bottom: .5rem;
  font-size: 1.2rem;
}

.expense-table #expense-item,
.expense-table #expense-category,
.expense-table #expense-amount {
  margin-right: .5rem;
} 

.expense-table td[rowspan="2"] {
  padding-left: 1rem;
}

.panel-welcome > .lead {
  float: right;
}

#expense-item {
  margin-right: .5rem;
}

#save-expense,
#delete-last {
  margin-right: 1rem;
}

#deleteExpenses {
  justify-content: center;
}

#deleteWeights {
  margin-bottom: 1em;
}

#reportAdditional {
  margin-bottom: 3em;
}

.noFoot {
  margin-left: 2em;
}

.foot {
  margin-left: .5em;
}

.weight-table {
  width: 100%;
}